apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-exporter-config
  namespace: linkding
data:
  postgres_exporter.yml: |
    queries:
      - query: "SELECT datname, pg_database_size(datname) AS size FROM pg_database WHERE datname NOT IN ('template0', 'template1');"
        metrics:
          - name: db_size_size
            help: "Size of the database in bytes"
            type: GAUGE
            labels:
              - datname
