apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-exporter-config
  namespace: linkding
data:
  postgres_exporter.yml: |
    queries:
      db_size:
        query: "SELECT datname, pg_database_size(datname) AS size FROM pg_database;"
        metrics:
          - datname:
              usage: "LABEL"
              description: "Name of the database."
          - size:
              usage: "GAUGE"
              description: "Size of the database in bytes."
    exclude_databases:
      - template0
      - template1
    auto_discovery:
      enable: true